<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/0719cbcce2.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>To Do</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">TODO APP</a>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Sign Out</a>
            </li>
         </ul>
        </div>
      </nav>

    <div class="row justify-content-center">
        <div class="col card text-white mb-3" style="max-width: 40rem;">
            <center><div class="card-header home">TASKS</div></center>
            <div class="card-body tasks">
                <form action="/add" method="GET">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text label">New Task</span>
                                </div>
                                <input type="text" name="task" class="form-control" required>
                                <div class="input-group-append">
                                    <button type="submit" class="btn add">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <label for="list-group">Pending Tasks</label>
                <ul class="list-group">
                    <% if(task.length > 0){ %>
                        <% for(var x = 0; x < task.length; x++){ %>
                            <% if(task[x].status === 'Pending'){ %>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <%= task[x].task %>
                                    <a href="/finished?id=<%= task[x].id %>" title="Mark Finished"><i class="fa fa-check"></i></a>
                                </li>
                            <% } %>
                        <% } %>
                    <% }else{ %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            
                        </li>
                    <% } %>
                </ul>
                <br>
                <label for="list-group">Finished Tasks</label>
                <ul class="list-group">
                    <% if(task.length > 0){ %>
                        <% for(var x = 0; x < task.length; x++){ %>
                            <% if(task[x].status === 'Finished'){ %>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strike><%= task[x].task %></strike> 
                                    <a href="/delete?id=<%= task[x].id %>" title="Delete Finished Task"><i class="fa fa-times"></i></a>
                                </li>
                            <% } %>
                        <% } %>
                    <% }else{ %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            
                        </li>
                    <% } %>
                  </ul>
            </div>
        </div>
    </div>
</body>
</html>